# Tell GitHub Linguist to exclude these from language stats

# Flutter web boilerplate
web/** linguist-vendored

# Android & build reports
android/build/** linguist-vendored
build/** linguist-vendored
